.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.ready {background-color: rgb(255, 0, 0)}
.steady {background-color: rgb(255, 182, 46)}
.go {background-color: rgb(21, 255, 0)}